body {
  background-color: #2e2e2e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e1e1e;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #66ccff;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
}

main {
  max-width: 840px;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

main img {
  width: 150px;
  height: auto;
  margin: 0.5rem;
  border-radius: 8px;
}

aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(255 255 255 / 0.2);
  padding: 1rem;
  background-color: #444;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}

aside img {
  width: 200px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #999;
  text-align: center;
  padding: 1rem;
  background-color: #1e1e1e;
  color: #ccc;
}
